.container {
    width: 100%;
    max-width: 450px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    list-style-type: none;
}

.details {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    position: relative;
    margin: 25px 0;
}

.details::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    width: 100%;
    background: black;
    height: 2px;
}

.details > * {
    text-align: center;
    flex: 1;
    font-weight: bold;
    border-right: 2px solid black;
    margin: 0;
}

.details > *:last-child {
    border-color: transparent;
}

.details > * > span {
    display: block;
}